.main-container{
  display: flex;
  justify-content: center;
}
.second-container{
  padding: 20px;
  width: 500px;
  margin: 20px auto;
  max-width: 100%;
  box-shadow: 2px 5px 5px black;
}

.social-icons{
  display: flex;
  justify-content: space-around;
}

.social-icon{
  margin: 0 10px; /* Adjust the space between icons */
}